.centered{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, 0);
    font-family:Brush Script MT;
}

#carte{
    position: absolute;
    top:70%;
    left:50%;
    transform: translate(-50%, 0);
}
#carte h1{
    font-family:Brush Script MT;
}

div>h1{
    width:50%;
}

#liens{
    position: absolute;
    top:60%;
    left:50%;
    transform: translate(-50%, 0);
}