img{
    width:100%;
}
.centered{
    width:50%;
    position: absolute;
    top:30%;
    left:50%;
    transform: translate(-50%, 0);
    z-index:0;
}

h2{
    position: absolute;
    top:15%;
    left:50%;
    z-index:0;
    transform: translate(-50%, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.btn{
    width:100%;
}

#boisson, #repas, #dessert{
    display:none;
}

@media screen and (max-width: 992px) {
    .centered{
        width:90%;
        top:15%;
        left:50%;

    }
    h2{
        display:none;
    }
  }


